@CHARSET "utf-8";

html{
	background: #F7F1FF;
}

#mensagem{
	padding: 0px;
	margin: 0px;
	margin-bottom: 0px;
	text-align: center;
	font-family: sans-serif;
	color: #060327;
	margin-left: auto;
	margin-right: auto;
}

#titulo{
	padding: 20px;
	margin: 20px;
	margin-bottom: 0px;
	text-align: center;
	font-family: sans-serif;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #664997;
}

#menu{
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: -10px;
	border: 1px solid #D0B7F0;
	float: left;
	text-align: center;
}

#conteudo{
	margin-left: 200px;
	margin-right: auto;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: -10px;
	border: 1px solid #FBDC76;
}

#rodape{
	padding: 20px;
	margin: 20px;
	clear:left;
	margin-bottom: 0px;
	text-align: center;
	font-family: sans-serif;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #060327;
}

table.consulta {
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
}

table.consulta th {
	border-width: 1px;
	padding: 5px;
	border-style: inset;
	background-color: #B3B3B3;
}

table.consulta td {
	border-width: 1px;
	padding: 5px;
	border-style: inset;
}
